:root {
  --color-bright-gray: #eee;
  --color-chinese-silver: #ccc;
  --color-chinese-black: #101010;
  --color-cultured: #f5f5f5;
  --color-dark-charcoal: #333;
  --color-davys-grey: #555;
  --color-green-crayola: #17a689;
  --color-gray: #7b7b7b;
  --color-light-sea-green: #1abc9c;
  --color-raisin-black: #222;
  --color-rusty-red: #dc3545;
  --color-white: #fff;
  --stanley-heading-color: var(--color-dark-charcoal);
  --stanley-link-color: inherit;
  --stanley-link-active-color: var(--color-raisin-black);
  --stanley-link-hover-color: inherit;
  --stanley-size-0x: 0;
  --stanley-size-half: 4px;
  --stanley-size-1x: 8px;
  --stanley-size-2x: calc(var(--stanley-size-1x) * 2);
  --stanley-size-3x: calc(var(--stanley-size-1x) * 3);
  --stanley-size-4x: calc(var(--stanley-size-1x) * 4);
  --stanley-size-5x: calc(var(--stanley-size-1x) * 5);
  --stanley-size-6x: calc(var(--stanley-size-1x) * 6);
  --stanley-size-7x: calc(var(--stanley-size-1x) * 7);
  --stanley-size-8x: calc(var(--stanley-size-1x) * 8);
  --stanley-size-9x: calc(var(--stanley-size-1x) * 9);
  --stanley-size-10x: calc(var(--stanley-size-1x) * 10);
  --stanley-size-11x: calc(var(--stanley-size-1x) * 11);
  --stanley-size-12x: calc(var(--stanley-size-1x) * 12);
  --text-color-base: var(--color-davys-grey);
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('./resources/fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
  url('./resources/fonts/montserrat-v25-latin-regular.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('./resources/fonts/montserrat-v25-latin-700.woff2') format('woff2'),
  url('./resources/fonts/montserrat-v25-latin-700.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html,
body {
  block-size: 100%;
  border: 0;
  font: inherit;
  font-size: 14px;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  vertical-align: baseline;
}

body {
  background-color: var(--color-white);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-block: 0;
  margin-inline: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--text-color-base);
  font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  border: 0;
  font-size: 100%;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--stanley-heading-color);
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.75;
  margin-block: 0 var(--stanley-size-3x);
}

h1 {
  font-size: 35px;
  margin-block: var(--stanley-size-4x);
}

h2 {
  font-size: 24px;
  margin-block: var(--stanley-size-3x) var(--stanley-size-1x);
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  margin-block: var(--stanley-size-1x);
  text-transform: uppercase;
}

.cmp-link {
  color: var(--stanley-link-color);
  text-decoration: none;
}

.cmp-link:hover {
  color: var(--stanley-link-hover-color);
}

.cmp-link--active {
  color: var(--stanley-link-active-color);
}

.aem-page {
  inline-size: 100%;
  margin-block: 0;
  margin-inline: auto;
  padding-inline: var(--stanley-size-3x) var(--stanley-size-3x);
}

@media (width >= 768px) {
  .aem-page {
    inline-size: 750px;
  }
}

@media (width >= 992px) {
  .aem-page {
    inline-size: 970px;
  }
}

@media (width >= 1200px) {
  .aem-page {
    inline-size: 1170px;
  }
}

.stanley-scrim-dark {
  --stanley-heading-color: var(--color-white);
  --stanley-link-color: var(--color-light-sea-green);
  --stanley-link-active-color: var(--color-gray);
  --stanley-link-hover-color: var(--color-gray);
  --text-color-base: var(--color-white);
}

.stanley-scrim-light {
  --stanley-heading-color: var(--color-dark-charcoal);
  --stanley-link-color: var(--color-light-sea-green);
  --stanley-link-active-color: var(--color-gray);
  --stanley-link-hover-color: var(--color-gray);
  --text-color-base: var(--color-davys-grey);
}

footer h4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-block-size: var(--stanley-size-6x);
}

.aem-page > .aem-container {
  display: grid;
  grid-template:
        "header"
        "main" 1fr
        "footer" / 1fr;
  min-block-size: 100vh;
}

header {
  grid-area: header;
}

header + div.aem-container {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.stanley-inline-svg {
  --stanley-fill-color: var(--color-light-sea-green);

  max-block-size: var(--stanley-size-5x);
}

.stanley-progress {
  background-color: var(--color-cultured);
  block-size: var(--stanley-size-3x);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
  margin-block-end: var(--stanley-size-3x);
  overflow: hidden;
}

.stanley-progress-bar {
  background-color: var(--color-light-sea-green);
  block-size: 100%;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
  inline-size: 60%;
  transition: width 0.6s ease;
}
